html {
  font-size: 0.65vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 1rem;
}

.demo {
  max-width: 60%;
  margin: 4rem auto;
}

.demo-heading {
  position: relative;
  display: inline-block;
  font-size: 2rem;
}

.demo-heading:before {
  --border-spacing: -1.4rem;
  content: '';
  position: absolute;
  left: var(--border-spacing);
  top: var(--border-spacing);
  right: var(--border-spacing);
  bottom: var(--border-spacing);
  border: 2px solid red;
  border-radius: 3px;
  opacity: 0;
  animation: blink 0.8s alternate infinite linear;
  z-index: -1;
}

.demo-text p {
  margin: 3rem 0;
  line-height: 2;
  font-size: 1.8rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }

  .demo {
    max-width: 90%;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
