html {
  font-size: .65vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: 1rem;
}

.demo {
  max-width: 60%;
  margin: 4rem auto;
}

.demo-heading {
  font-size: 2rem;
}

.demo-text p {
  margin: 3rem 0;
  line-height: 2;
  font-size: 1.8rem;
}
